In [74]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os

# Import the API key.
from config import map_api_key

In [75]:
# Import the data file
city_data_df = pd.read_csv(os.path.join('weather_data','cities.csv'))
city_data_df.head()

,City_ID,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Winds
0,0,Takoradi,GH,2020-11-04 05:38:07,4.88,-1.76,78.35,86,50,4.61
1,1,Bredasdorp,ZA,2020-11-04 05:38:07,-34.53,20.04,66.20,93,45,6.93
2,2,Alice Springs,AU,2020-11-04 05:35:48,-23.70,133.88,100.40,6,0,9.17
3,3,Hasaki,JP,2020-11-04 05:38:07,35.73,140.83,66.00,30,20,12.75
4,4,Vao,NC,2020-11-04 05:38:08,-22.67,167.48,73.54,85,100,3.36

In [76]:
# Configure the gmap to use google api key
gmaps.configure(map_api_key)

In [77]:
# Get the latitude and the longitude
locations = city_data_df.loc[:,['Latitude', 'Longitude']]

# Get the maximum temperature for each location
# max_temp = city_data_df.loc[:, 'Max Temperature']
max_temp = [max(tem,0) for tem in city_data_df.loc[:, 'Max Temperature']]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,max_temp, dissipating=False, max_intensity=300, point_radius=4)

# Add the heat map layer
fig.add_layer(heat_layer)

In [78]:
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
### Create a Percent Humidity Heatmap

In [79]:
# Heat of percent humidity
locations = city_data_df.loc[:,['Latitude', 'Longitude']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300,  point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [80]:
# Heat of percent Cloudiness
locations = city_data_df.loc[:,['Latitude', 'Longitude']]
cloud = city_data_df['Cloudiness']
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300,  point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [81]:
# Heat of Wind Speed
locations = city_data_df.loc[:,['Latitude', 'Longitude']]
speed = city_data_df['Winds']
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=speed, dissipating=False, max_intensity=300,  point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Get Customer Input

In [82]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [83]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temperature'] >= min_temp) &
                                      (city_data_df['Max Temperature'] <= max_temp)]

In [84]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Winds
0,0,Takoradi,GH,2020-11-04 05:38:07,4.88,-1.76,78.35,86,50,4.61
6,6,Yulara,AU,2020-11-04 05:38:08,-25.24,130.99,95.00,17,68,5.82
8,8,Morondava,MG,2020-11-04 05:38:09,-20.28,44.28,81.54,63,0,4.05
15,15,Barra Patuca,HN,2020-11-04 05:38:12,15.80,-84.28,79.70,87,100,15.82
22,22,Mumford,GH,2020-11-04 05:38:13,5.26,-0.76,78.93,86,26,5.57
25,25,Flinders,AU,2020-11-04 05:38:14,-34.58,150.86,78.01,65,79,3.00
38,38,Axim,GH,2020-11-04 05:38:17,4.87,-2.24,77.45,88,8,4.63
43,43,Padang,ID,2020-11-04 05:38:18,-0.95,100.35,85.57,58,100,3.47
45,45,Det Udom,TH,2020-11-04 05:35:45,14.91,105.08,86.00,62,40,12.75
46,46,Samarai,PG,2020-11-04 05:38:19,-10.62,150.67,81.54,81,87,12.86

In [85]:
preferred_cities_df.count()

City_ID            166
City               166
Country            166
Date               166
Latitude           166
Longitude          166
Max Temperature    166
Humidity           166
Cloudiness         166
Winds              166
dtype: int64

In [86]:
hotel_df = preferred_cities_df.loc[:,['City', 'Country', 'Latitude', 'Longitude', 'Max Temperature']]
hotel_df.head(10)

            City Country  Latitude  Longitude  Max Temperature
0       Takoradi      GH      4.88      -1.76            78.35
6         Yulara      AU    -25.24     130.99            95.00
8      Morondava      MG    -20.28      44.28            81.54
15  Barra Patuca      HN     15.80     -84.28            79.70
22       Mumford      GH      5.26      -0.76            78.93
25      Flinders      AU    -34.58     150.86            78.01
38          Axim      GH      4.87      -2.24            77.45
43        Padang      ID     -0.95     100.35            85.57
45      Det Udom      TH     14.91     105.08            86.00
46       Samarai      PG    -10.62     150.67            81.54

In [87]:
hotel_df['Hotel Name'] = ''

In [88]:
hotel_df.head(10)

            City Country  Latitude  Longitude  Max Temperature Hotel Name
0       Takoradi      GH      4.88      -1.76            78.35
6         Yulara      AU    -25.24     130.99            95.00
8      Morondava      MG    -20.28      44.28            81.54
15  Barra Patuca      HN     15.80     -84.28            79.70
22       Mumford      GH      5.26      -0.76            78.93
25      Flinders      AU    -34.58     150.86            78.01
38          Axim      GH      4.87      -2.24            77.45
43        Padang      ID     -0.95     100.35            85.57
45      Det Udom      TH     14.91     105.08            86.00
46       Samarai      PG    -10.62     150.67            81.54

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": map_api_key,
    'location': ''
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and the longitude
    lat = row['Latitude']
    lng = row['Longitude']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
       
    # Build the base url for searching for nearby hotels
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found........ skipping.')

In [ ]:
hotel_df.head(10)

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Temperature</dt><dd>{Max Temperature}°F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]


### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Latitude','Longitude']]
max_temp = hotel_df['Max Temperature']

# Creating a base map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Creating the layers
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Adding the layers to the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

In [ ]:
max_temp.dtypes

In [102]:
max_temp.dtypes

In [103]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and the longitude
    lat = row['Latitude']
    lng = row['Longitude']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
       
    # Build the base url for searching for nearby hotels
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found........ skipping.')

Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.
Hotel not found........ skipping.

In [105]:
hotel_df.head(10)

,City,Country,Latitude,Longitude,Max Temperature,Hotel Name
0,Takoradi,GH,4.88,-1.76,78.35,Raybow International Hotel
6,Yulara,AU,-25.24,130.99,95.00,Desert Gardens Hotel - Ayers Rock Resort
8,Morondava,MG,-20.28,44.28,81.54,La Case Bambou
15,Barra Patuca,HN,15.80,-84.28,79.70,
22,Mumford,GH,5.26,-0.76,78.93,Spanish Villa
25,Flinders,AU,-34.58,150.86,78.01,Shellharbour Resort & Conference Centre
38,Axim,GH,4.87,-2.24,77.45,AXIM BEACH RESORT AND SPA
43,Padang,ID,-0.95,100.35,85.57,Mercure Padang
45,Det Udom,TH,14.91,105.08,86.00,Chatsuda Resort
46,Samarai,PG,-10.62,150.67,81.54,Nuli Sapi

In [122]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Temperature</dt><dd>{Max Temperature}°F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]


### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [124]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Latitude','Longitude']]
max_temp = hotel_df['Max Temperature']

# Creating a base map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Creating the layers
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Adding the layers to the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [119]:
max_temp.dtypes

Max Temperature    float64
dtype: object